[tool.black]
line-length = 100
# 'extend-exclude' excludes files or directories in addition to the defaults

[tool.ruff]
line-length = 100
target-version = "py311"

select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # pyflakes
    "I",   # isort
    "B",   # bugbear
    "RUF",
]
ignore = [
    "E501", # line too long, handled by black
    #   "E127", # N/A continuation line over-indented for visual indent
    #   "W503", # N/A line break before binary operator
    #   "E203", # N/A whitespace before ':'
    "C901",
    "E722", # Do not use bare `except`
    "B008", # Do not perform function call in argument defaults
    "B904", # Within an `except` clause, raise exceptions with `raise ... from err` or `raise ... from None` to distinguish them from errors in exception handling
]

# Avoid trying to fix flake8-bugbear (`B`) violations.
unfixable = ["B"]

[tool.ruff.mccabe]
max-complexity = 18

[tool.ruff.pydocstyle]
convention = "google"

[tool.ruff.flake8-bugbear]
# Allow default arguments like, e.g., `data: List[str] = fastapi.Query(None)`.
extend-immutable-calls = ["fastapi.Depends", "fastapi.Body", "fastapi.Query"]

[tool.docformatter]
recursive = true
wrap-summaries = 100
wrap-descriptions = 100
blank = true

[tool.mypy]
ignore_missing_imports = true
show_column_numbers = true
warn_redundant_casts = true
warn_unused_ignores = true
warn_unused_configs = true
follow_imports = "normal"
plugins = ["pydantic.mypy"]
